//  @import "../general/variables.scss";
//  @import "../general/mixins.scss";

// ------  VARIABLES  --------

$font-weight: (
  "extraLight": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "bold": 700,
  "extrabold": 800,
);

$heading-text-color-first: #ffffff;
$heading-text-color-second: #00da5d;

$theme-first-background-color: #00da5d;
$button-hover-color: #00da5d;
$second-text-color: #00da5d;
$theme-green-color: #00da5d;

$menu-links-color: #ffffff;
$menu-links-hover-color: #00da5d;
$work-method-hover-color: #00da5d;

$social-icons-hover: #0b5fba;

$general-normalSize-text-color: #c0c0c0;
$general-mediumSize-text-color: #c0c0c0;

$white-text: #ffffff;

$main-background-color: #000024;

$skills-cards-hover-color: #020243;
$home-third-sec-: #000033;
$accordion-color: #020243;
$theme-seconds-background-color: #020243;
$cards-background-color: #010139;
$cards-hover-color: #00da5d;

// ------ END  VARIABLES  --------

// ------ Start  Breakpints  --------

$desktopSecondBp: 1650px;
@mixin desktopSecondBpMixin {
  @media (max-width: $desktopSecondBp) {
    @content;
  }
}

$desktopthirdBp: 1540px;
@mixin desktopThridBpMixin {
  @media (max-width: $desktopthirdBp) {
    @content;
  }
}

// ------ END  Breakpints  --------

// ------  MIXINS  --------

@font-face {
  font-family: "Ethnocentric";
  src: url(../../fonts/Ethnocentric/ethnocentric.otf);
}

@font-face {
  font-family: "Poppins";
  src: url(../../fonts/Poppins/Poppins.ttf);
}

@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}

@mixin generalHeading($fontSize) {
  font-size: $fontSize;
  color: $heading-text-color-first;
  font-weight: weight(bold);
  font-family: "Ethnocentric", sans-serif;
}
// 27
@mixin generalHeadingOne($fontSize) {
  font-size: $fontSize;
  color: $heading-text-color-second;
  font-weight: weight(bold);
  font-family: "Ethnocentric", sans-serif;
}

@mixin menuLinks {
  font-size: $fontSize;
  color: $menu-links-color;
  font-weight: weight(medium);
  font-family: "Poppins", sans-serif;
}

@mixin generalText($fontSize) {
  font-size: $fontSize;
  color: $general-normalSize-text-color;
  font-weight: weight(light);
  font-family: "Poppins", sans-serif;
}

@mixin generalMedumSizeText($fontSize) {
  font-size: $fontSize;
  color: $general-normalSize-text-color;
  font-weight: weight(medium);
  font-family: "Poppins", sans-serif;
}

@mixin FlexCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRow($xAxis, $yAxis) {
  display: flex;
  justify-content: $xAxis;
  align-items: $yAxis;
}

@mixin flexColumn($xAxis, $yAxis) {
  display: flex;
  flex-direction: column;
  justify-content: $xAxis;
  align-items: $yAxis;
}

@mixin themeSecondLayerView($width, $marginTop) {
  position: relative;
  width: $width;
  margin-top: $marginTop;
  background-color: $theme-seconds-background-color;
}

@mixin button {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 230px;
  height: 70px;
  font-size: 27px;
  font-weight: map-get($font-weight, medium);
  border: 2px solid $theme-green-color;
  border-radius: 50px;
  color: $theme-green-color;
  transition-duration: 0.2s;
  padding-bottom: 10px;
  &:hover {
    background-color: $button-hover-color;
    color: $white-text;
  }
}

@mixin backgroundImage($Img, $imgHover, $backPosition) {
  background-image: url($Img);
  background-repeat: no-repeat;
  background-size: 35px 35px;
  padding-bottom: 5px;
  background-position: $backPosition center;
  &:hover {
    background-image: url($imgHover);
  }
}

@mixin font($fontSize, $weight, $color, $hoverColor) {
  font-size: $fontSize;
  font-weight: weight($weight);
  color: $color;
  font-family: "Poppins", sans-serif;
  &:hover {
    color: $hoverColor;
  }
}

// --------------Cards Mixins---------

@mixin cardParent($width, $height) {
  min-width: $width;
  height: $height;
  @include flexColumn(center, start);
  border-radius: 30px;
  background-color: $cards-background-color;
  transition-duration: 0.2s;
  &:hover {
    background-color: $cards-hover-color;
  }
}

@mixin backgroundCardImage($Img, $imgHover) {
  width: 110px;
  min-height: 100px;
  border-radius: 8px;
  background-image: url($Img);
  background-repeat: no-repeat;
  background-size: 68%;

  background-position: center center;
  transition-duration: 0.2s;
  // &:hover {
  // background-color: $white-text;
  // background-image: url($imgHover);
  // }
}

@mixin card {
  width: 350px;
  height: 440px;
  background-color: $cards-background-color;
  transition-duration: 0.2s;
  &:hover {
    background-color: $cards-hover-color;
    color: $white-text;
  }
}

@mixin sectionVerticalPadding($top, $bottom) {
  padding-top: $top;
  padding-bottom: $bottom;
}

@mixin sectionHorizontalPadding($top, $bottom) {
  padding-right: $top;
  padding-left: $bottom;
}

// ------------  End  MIXINS  ---------------

// ------------  Universal  Styling  ---------------

.cards-section,
.hero-section,
.h-second-sec {
  @include sectionHorizontalPadding(50px, 50px);
}

// ------------ End  Universal  Styling    ---------------

.PagesParent {
  @include FlexCenter;
}

.theme-background-second-layer {
  @include themeSecondLayerView(1600px, 55px);

  @include desktopSecondBpMixin() {
    width: 1500px;
  }

  @include desktopThridBpMixin() {
    width: 1300px;
  }
}

// -------------  Home Section   --------------------

.hero-section {
  @include flexCenterColumn();
  overflow: hidden;
}

.hero-two-parts-parent {
  @include flexRow(space-between, null);
}

.left-content-part {
  @include flexColumn(center, start);
  max-width: 790px;
}

.welcome-txt {
  @include generalMedumSizeText(27px);
}

.dev-name {
  width: max-content;
  line-height: 1.4;
}
.first-line {
  @include generalHeading(55px);
}
.second-line {
  @include generalHeadingOne(50px);
}
.dev-intro-txt {
  @include generalText(22px);
}
.btns-group {
  @include FlexCenter();
}
.btn {
  @include button();
}

.btn-play-video {
  @include backgroundImage(
    "../../assets/Home/Icons/homePlaybtn.svg",
    "../../assets/Home/Icons/HomePlayBtnHover.svg",
    140px
  );
  padding-right: 30px;
}

.right-img-part {
  width: 600px;
  height: 600px;
  margin-right: -55px;

  @include FlexCenter();
}

.dev-img {
  @include desktopThridBpMixin() {
    margin-right: 130px;
  }
  min-width: 880px;
  height: 600px;
}

.scroll-down-element {
  @include flexCenterColumn();
}

.hero-scroll-first-line {
  font-size: 20px;
  color: $white-text;
  font-family: "Poppins", sans-serif;
}

.hero-scroll-second-line {
  font-size: 20px;
  color: $theme-green-color;
  font-family: "Poppins", sans-serif;
}

// -------------   Home Page Second Section ------------------

.h-second-sec {
  @include sectionVerticalPadding(60px, 130px);
}

.contact-btn {
  @include backgroundImage(
    "../../assets/Home/Icons/HomecontactBtn.svg",
    "../../assets/Home/Icons/HomecontactBtnHover.svg",
    15px
  );

  width: max-content;
  padding: 30px 20px 35px 67px;
  background-size: 27px 27px;

  &:hover {
    background-size: 43px 43px;
  }
}
.problem-solver-txt,
.query-type-text,
.short-about-para {
  @include generalMedumSizeText(32px);
  color: $white-text;
}
.problem-solver-txt {
  @include generalMedumSizeText(22px);
  color: $white-text;
}

// -------Universal Media Queries-------

.problem-solver-txt,
.query-type-text {
  width: max-content;
}

.h-sec-right-part {
  width: 750px;
}

.exp-txt {
  @include generalText(22px);
  color: $white-text;
  padding-left: 10px;
}
.exp-digit {
  @include generalHeadingOne(70px);
}

.query-txt-parent,
.short-about-para {
  margin: 4.5rem 0rem;
}

// ---------- Home  Cards Section-------------------

.cards-section {
  background: linear-gradient(0deg, rgba(0, 0, 36, 1) 50%, rgb(2 2 67) 50%);
  @include sectionVerticalPadding(0, 80px);
}

.cards-parent {
  @include cardParent(360px, auto);
  padding: 35px 35px 35px 35px;
  &:hover .cards-para {
    color: $white-text;
  }
  &:hover .completed-projects {
    color: $white-text;
  }
  &:hover .card-img-underline {
    background-color: $white-text;
  }
  &:hover .card-img {
    background-color: $white-text;
  }
}
.ui-ux-design-img {
  @include backgroundCardImage(
    "../../assets/Services/Icons/cardsIcons/UIUXDesign.svg",
    "../../assets/Services/Icons/cardsIcons/UIUXDesignHover.svg"
  );
}

.front-end-design-img {
  @include backgroundCardImage(
    "../../assets/Services/Icons/cardsIcons/frontEnd.svg",
    "../../assets/Services/Icons/cardsIcons/frontEndHover.svg"
  );
}

.full-stack-design-img {
  @include backgroundCardImage(
    "../../assets/Services/Icons/cardsIcons/fullStack.svg",
    "../../assets/Services/Icons/cardsIcons/fullStackHover.svg"
  );
}

.cards-title {
  @include font(30, bold, #ffffff, #ffffff);
}
.cards-para {
  @include font(20, "regular", $general-normalSize-text-color, #ffffff);
}
.card-img-underline {
  width: 19px;
  height: 2px;
  border-radius: 30px;
  background-color: $theme-green-color;
}
.completed-projects {
  @include font(22, "regular", $theme-green-color, #ffffff);
}
